* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: midnightblue;
    font-family: fantasy;
}
/* header/ nav bar styles start */
header {
    padding: 20px 35px;
    background-color: lightblue;
}
header h1 {
    font-weight: bold;
    display: inline;
    margin: 0;
    font-size: 36px;
    color: darkgreen;
}
header a {
    text-decoration: none;
    color: darkgreen;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
/* header/ nav bar styles end */

/* style all section tags */
section {
    padding: 60px;
}
/* hero styles start */
.hero {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 600px;
}
.hero-form {
    border: 3px solid darkcyan;
    background-color: lightseagreen;
    padding: 20px;
    width: 500px;
    color: darkslategrey;
    position: absolute;
    bottom: 120px;
    right: 140px;
}
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
.hero-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    border: 1px solid olive;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: darkgreen;
    width: 100%;
    margin-bottom: 15px;
}
.hero-form label {
    margin: 0 5px;
}
.hero-form button {
    color: whitesmoke;
    background-color: darkgreen;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/* hero styles end */

/* section title styles start */
.section title {
    font-style: 55px;
    display: inline-block;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    margin-bottom: 35px;
    color: indigo;
}
.primary-border {
    border-color: yellowgreen;
}
.secondary-border {
    border-color: teal;
}
/* section title style end */

/* what we do section start */
.intro {
    text-align: center;
}
.intro p {
    line-height: 1.7;
    color: darkgreen;
    width: 80%;
    margin: 0 auto;
    font-style: 20px;
}
/* what we do style end */

/* what you do style start */
.steps {
    text-align: center;
    background: lightgrey;
}
.steps div {
    margin-bottom: 80px;
}
.steps img {
    width: 15%;
    margin: 10px 0;
}
.steps h3 {
    color: purple;
    font-style: 46px;
    margin-top: 10px;
}
.steps span {
    font-size: 38px;
}
.steps p {
    color: indigo;
    font-style: 23px;
}
/* what you do style end */